<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>
      Adicione um, <br />
      pensamento novo:
    </h2>
  </header>

  <form>
    <div class="box-input-pensamentos">
      <label for="">Pensamento</label>
      <input id="input_pensamento" type="textarea" />
      <label for="">Autor(a) ou Fonte</label>
      <input type="textarea" />
    </div>
    <div class="box-radio-buttons">
      <h3>Selecione o modelo do Card:</h3>
      <div class="radio-buttons" >

        <input type="radio" />
        <label for="">Modelo 1</label>
        <input type="radio" />
        <label for="">Modelo 2</label>
        <input type="radio" />
        <label for="">Modelo 3</label>
      </div>
    </div>
    <div class="modelos" >
      <div class="modelo1">
        <p>  Prévia:</p>
          <div class="modelo1__main">
            <img src="../../../../assets/imagens//modelo1.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            </p>
            <p><b>Autora da Silva Sauro</b></p>
          </div>
      </div>
      <div class="modelo1">
        <p>  Prévia:</p>
          <div class="modelo1__main">
            <img src="../../../../assets/imagens//modelo1.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            </p>
            <p><b>Autora da Silva Sauro</b></p>

          </div>
      </div>
      <div class="modelo1">
        <p>  Prévia:</p>
          <div class="modelo1__main">
            <img src="../../../../assets/imagens//modelo1.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            </p>
            <p><b>Autora da Silva Sauro</b></p>
          </div>
      </div>
      <div class="modelo2"></div>
      <div class="modelo3"></div>
    </div>

    <div class="box-buttons">
      <button class="botao">Salvar</button>
      <button class="botao">Cancelar</button>
    </div>
  </form>
</section>
