.criar-pensamentos form {
  background-color: #c4edff;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  border-radius: 20px;
}
.criar-pensamentos label {
  font-weight: bold;
}

.box-input-pensamentos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 30%;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.box-input-label-pensamento{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.box-input-label-pensamento input {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  padding: 0.5rem;
  border-color: transparent;
}
.box-input-pensamentos label {
  width: 80%;
  color: #154580;
  padding-bottom: 1.5%;
}

#input_pensamento {
  height: 100px;
  border-radius: 10px;
  border-color: transparent;
}

.box-radio-buttons {
  display: flex;
  width: 90%;
  height: 12%;
  flex-direction: column;
  gap: 15px;
}

.modelos {
  display: flex;
  width: 80%;
  height: 31%;
  gap: 2%;
}

.box-radio-buttons h3 {
  width: 89%;
  color: #154580;
  font-size: 17px;
  padding-top: 1.5%;
  align-self: center;
}

.modelo1 {
  width: 28%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modelo1__main {
  width: 100%;
  height: 80%;
  background-color: rgb(255, 255, 255);
  box-shadow: 8px 8px 0px #154580;
}

.modelo1__main img {
  padding-top: 0.8rem;
  padding-left: 0.8rem;
}

#modelo2_main {
  box-shadow: 8px 8px 0px #6bd1ff;
}

#modelo3_main {
  box-shadow: 8px 8px 0px #84eec1;
}

.modelo1__main p {
  font-size: 12px;
  padding-top: 0.8rem;
  padding-left: 0.8rem;
  word-wrap: break-word;
}
.modelo1__main p b {
  font-size: 15px;
}

.radio-buttons {
  display: flex;
  width: 79%;
  justify-content: space-around;
}


.box-input-radio {
  display: flex;
  gap: 5%;
}

.box-input-radio label {
  width: 120px;
}

.box-buttons {
  display: flex;
  gap: 5%;
}

@media(min-width: 1024px) {
  .criar-pensamentos form {
    width: 80%;
    height: 85vh;
  }

  .box-input-pensamentos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55%;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }

  .box-input-label-pensamento{
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .box-input-label-pensamento input {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    padding: 0.5rem;
    border-color: transparent;
  }

  .box-input-pensamentos label {
    width: 80%;
    padding-bottom: 1.5%;
  }

  #input_pensamento {
    height: 60px;
    border-radius: 10px;
    border-color: transparent;
  }

  .box-radio-buttons {
    display: flex;
    width: 80%;
    height: 40%;
    flex-direction: column;
    gap: 15px;
  }

  .radio-buttons {
    display: flex;
    width: 82%;
    justify-content: space-between;
  }


  .box-radio-buttons h3 {
    padding-top: 2%;
    align-self: flex-start;
  }

  .modelos {
    padding-bottom: 3%;
    height: 75%;
  }


  .modelo1__main {
    width: 100%;
    height: 80%;
    background-color: rgb(255, 255, 255);
  }

  .modelo1__main img {
    width: 30px;
  }


  .modelo1__main p b {
    font-size: 12px;
  }

  .box-buttons {
    padding-bottom: 3%;
  }

}

@media(min-width: 1440px) {
  .criar-pensamentos form {
    width: 85%;
    height: 85vh;
  }

  .box-input-pensamentos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55%;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }

  .box-input-label-pensamento{
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .box-input-label-pensamento input {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    padding: 0.5rem;
    border-color: transparent;
  }

  .box-input-pensamentos label {
    width: 80%;
    padding-bottom: 1.5%;
  }

  #input_pensamento {
    height: 60px;
    border-radius: 10px;
    border-color: transparent;
  }

  .box-radio-buttons {
    display: flex;
    width: 80%;
    height: 35%;
    flex-direction: column;
    gap: 15px;
  }

  .radio-buttons {
    display: flex;
    width: 75%;
    justify-content: space-between;
  }


  .box-radio-buttons h3 {
    padding-top: 2%;
    align-self: flex-start;
  }

  .modelos {
    padding-bottom: 3%;
    height: 75%;
  }


  .modelo1__main {
    width: 100%;
    height: 80%;
    background-color: rgb(255, 255, 255);
  }

  .modelo1__main img {
    width: 30px;
  }


  .modelo1__main p b {
    font-size: 12px;
  }

  .box-buttons {
    padding-bottom: 3%;
  }

}

@media screen and (min-width: 750px) and (max-width: 1023px) {
  .criar-pensamentos form {
    width: 80%;
    height: 80vh;
  }

  .box-input-pensamentos {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }
  .box-input-pensamentos input {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    padding: 0.5rem;
    border-color: transparent;
  }

  .box-input-pensamentos label {
    width: 80%;
    color: #154580;
  }

  #input_pensamento {
    height: 60px;
    border-radius: 10px;
    border-color: transparent;
  }

  .box-radio-buttons {
    display: flex;
    width: 80%;
    height: 17%;
    flex-direction: column;
    gap: 15px;
  }

  .radio-buttons {
    display: flex;
    width: 90%;
    justify-content: space-around;
  }


  .box-radio-buttons h3 {
    align-self: flex-start;
  }

  .modelos {
    padding-bottom: 3%;
  }


  .modelo1__main {
    width: 100%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 8px 0px #154580;
  }

  .modelo1__main img {
    width: 30px;
  }


  .modelo1__main p b {
    font-size: 12px;
  }

  .box-buttons {
    padding-bottom: 3%;
  }
}
